body {
  background-color:PowderBlue;
  }

a {
  color:Orange; text-align: center;
   }

p {
  color:Lime; text-align: center;
  }

h1 {
  color:DarkCyan; text-align: center;
  }

li {
  color:lime; text-align: center
  }
